In [5]:
# Read data from Sleep Health and Lifestyle dataset CSV
import pandas as pd
data = pd.read_csv('/Users/luigi/Documents/Jupyter_Notebooks/Sleep Health Data Analysis/Sleep_health_and_lifestyle_dataset.csv', index_col='Person ID')
data.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
Person ID,,,,,,,,,,,,
1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

## Points to review
1. Worst sleep health by gender
2. Sleep health relationship with the professional work from people
3. Does physical activity affect sleep health 
4. What profession has the worst sleep health
5. What kind of profession has the highest level of streess and body mass index
6. Age ranges of sleep disorders 
7. Step count and sleep health